/**
 * Footer
 */

.site-footer {

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

  .widget {
    flex: 0 1 50%;

    &:nth-child( 2n ) {
      text-align: right;
    }
  }
}
