/**
 * Home
 */

.home {

  .site-header,
  .site-main,
  .site-footer {
    width: 66vw;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .site-header {
    padding: 4em 0 6em;
  }

  .page-header {
    @include visuallyhidden;
  }

  .site-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    //position: fixed;
    //top: -40vh;
    //left: 0;
    //right: 0;


    //height: calc( 100vh - 300px );

    @at-root .preserve3d & {
      //transform-style: preserve-3d;
      //transform: translateX(-15vw) translateY(275px) rotateX(45deg) rotateZ(33deg);
      //transform-origin: 50% 100%;
    }
  }
}
