/**
 * Keyframes
 */

@keyframes color-change {

 0% {
   background-color: lighten( color( red ), 25% );
 }

 50% {
   background-color: lighten( color( blue ), 25% );
 }

 100% {
   background-color: lighten( color( red ), 25% );
 }
}
